#tfemail{
    -fx-text-fill:white;
}
pfpassword{
    -fx-text-fill:white;
}
#tfnom{
    -fx-text-fill:white;
}
#tfprenom{
    -fx-text-fill:white;
}
#tfemail{
    -fx-text-fill:white;
}
#tfnumero{
    -fx-text-fill:white;
}
#pfpassword{
    -fx-text-fill:white;
}
#Confirmation_password{
    -fx-text-fill:white;
}